{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="contenaire">
    <img class="rotated-image" src="/images/accueil.jpg" alt="home">
</div>
    <div class="slider">
        <img class="img1" src="/images/biscuit.jpg" alt="logo" />
        <img class="img2" src="/images/blanche.jpg" alt="logo" />
        <img class="img3" src="/images/chocolat.jpg" alt="logo" />
        <img class="img4" src="/images/rose.jpg" alt="logo" />
        <img class="img5" src="/images/rouge.jpg" alt="logo" />
    </div>

{% endblock %}
