<h1>Bonjour! Veillez confirmer votre mail!</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confiemer mon mail</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
