h1 {
  font-family: Snell Roundhand, cursive;
  text-align: center;
  color: #EFAD2D;
}

.action-new.btn.btn-primary {
  background-color: #EFAD2D;
  color: #fff;
}

.sidebar {
  background-color: rgba(79, 86, 87, 0.9);
}

.menu {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .sidebar {
    background-color: whitesmoke;
  }
}