.container {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer{
  position: relative;
  bottom: 0;
}

.base_footer {
  text-align: left;
  padding: 10px;
}
.base_footer img {
  max-width: 100%;
  height: auto;
}

  /* Footer */

.ft {
  width: 65px;
  height: auto;
}
  .footer_links {
    display: flex;
    justify-content: space-around;
  }

  .footer_links a {
    padding: 10px 0;
    text-decoration: none;
    color: #333;
  }

  .social_media_logo {
    float: right;
    margin-top: 20px;
  }

  .social_media_logo img {
    max-width: 100%;
    height: auto;
  }

@media screen and (min-width: 768px){

}