
.base_footer {
  text-align: left;
  padding: 10px;
}
.general{
  margin-bottom: 0;
}
.base_footer img {
  max-width: 100%;
  height: auto;
}

  /* Footer */
  .footer {
    background-color: #f8f8f8;
    padding: 20px;
  }
.ft {
  width: 65px;
  height: auto;
}
  .footer_links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
  }

  .footer_links a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
  }

  .social_media_logo {
    float: right;
    margin-top: 20px;
  }

  .social_media_logo img {
    max-width: 100%;
    height: auto;
  }

