.rotated-image {
  transform: scaleX(-6);
  width: 29%;
}

.slider {

  margin: 0 auto;
}

.img1 {
  width: 20%;
}
.img2 {
  width: 20%;
}
.img3 {
  width: 20%;
}
.img4 {
  width: 30%;
}
.img5 {
  width: 20%;
}


