<div class="nav-bar">
<div class="nav">
    <img class="img" src="/images/fouet.jpg" alt="logo" />
</div>

<nav class="navbar">
    <div class="menu-icon">&#9776;</div> <!-- Hamburger icon -->
    <ul class="navbar_links">
        <li><a href="/">Accueil</a></li>
        <li><a href="/cake">Cake</a></li>
        <li><a href="/login">Membres</a></li>
        <li><a href="#contact">Contact</a></li>

    </ul>
</nav>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".menu-icon").click(function () {
            $(".navbar").toggleClass("active");
        });
    });
</script>