<div class="container">
    <div class="footer">
    <div class="base_footer">
        <img class="ft" src="/images/fouet.jpg" alt="logo" />
    </div>
    <div class="footer_links">
        <a href="/reglements">Règlements</a>
        <a href="/user">Administration</a>
        <a href="/mentions-legales">Mentions légales</a>
    </div>
    <div class="social_media_logo">
        <a href="https://www.instagram.com/votre_compte_instagram" target="_blank">
            <img class="ft" src="/images/img.png" alt="Logo Instagram" />
        </a>
    </div>
    </div>
</div>