<div class="footer">
    <div class="base_footer">
        <img class="ft" src="/images/fouet.jpg" alt="logo" />
    </div>
    <div class="footer_links">
        <a href="https://entreprendre.service-public.fr/vosdroits/F23455">Règlements</a>
        <a href="/admin">Administration</a>
        <a href="https://entreprendre.service-public.fr/vosdroits/F31228">Mentions légales</a>
    </div>
    <div class="social_media_logo">
        <a href="https://www.instagram.com/votre_compte_instagram" target="_blank">
            <img class="ft" src="/images/img.png" alt="Logo Instagram" />
        </a>
    </div>
</div>