{% extends 'base.html.twig' %}

{% block title %}New Cake{% endblock %}

{% block body %}
    <h1>Create new Cake</h1>

    {{ include('cake/_form.html.twig') }}

    <a href="{{ path('app_cake_index') }}">back to list</a>
{% endblock %}
