{% extends 'base.html.twig' %}

{% block title %}Modifier Profile{% endblock %}

{% block body %}
    <h1>Modifier Profile</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_home') }}">Retour</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
